 <div class="container">
  {{#each movies as | movie|}} 
          <div class="card">
            <h4 class="card-header">{{movie.title}} </h4>
             <div class="card-body">
                <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}"  class="card-img-top"/>
              <p class="card-text"><div>{{movie.overview}}</div>
                <button class="btn btn-primary btn-block">Review this movie</button>
               </div>
               </div>
               </div>
{{/each}}

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">add comment</button>
    </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}
</div>